<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Manage <%= _name %></h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                List of <%= _name %>
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="list-item">
                        <thead>
                            <%- partial (_directory+'/column_name.ejs') %>
                        </thead>
                        <tbody>
                            <%- partial (_directory+'/column_value.ejs') %>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
                <div class="text-center">
                    <button type="submit" id="btnAdd" onClick="add()" class="btn btn-lg btn-primary add">Insert <%= _name %></button>                    
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

        <div id="form" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Insert <%= _name %></h4>
              </div>
                <%- partial (_directory+'/form.ejs') %>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="submit" onClick="save()" class="btn btn-primary">Save</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->


        <div class="modal fade" id="errorModal" tabindex="-1" role="dialog" aria-labelledby="errorModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                        <h4 class="modal-title" id="myModalLabel">Error</h4>
                    </div>
                    <div class="modal-body" id="errorModelMessage">
                        
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
                <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
        <!-- /.modal -->

        <% if(typeof(_detail) !== 'undefined')
        if(_detail) { %>
                <%- partial (_directory+'/detail.ejs') %>
        <% } %>

    </div>
    <!-- /.col-lg-12 -->
</div>
<script type="text/javascript" charset="utf-8">
<%- partial (_directory+'/page_load.ejs') %>
<%- partial (_directory+'/functions.ejs') %>
<%- partial ('validation.ejs') %>
</script>