<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Quản lý sản phẩm</h1>
    </div>
    <!-- /.col-lg-12 -->
</div>
<div class="row">
    <div class="col-lg-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                Danh sách sản phẩm
            </div>
            <!-- /.panel-heading -->
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover" id="list-item">
                        <thead>
                          <tr>
                              <th>Mã</th>
                              <th>Sản phẩm</th>
                              <th>Loại</th>
                              <th>Giá</th>
                              <th>Hình</th>
                              <th>Mô tả</th>
                              <th>Trạng thái</th>
                              <th>&nbsp;</th>
                          </tr>
                        </thead>
                        <tbody>
                          <% _.each(data, function (obj) { %>
                            <tr>
                              <td><%= obj.id %></td>
                              <td><%= obj.name %></td>
                              <td><%= obj.category.name %></td>
                              <td><%= obj.price %></td>
                              <td><%= obj.image %></td>

                              <% if (obj.description == undefined) { %>
                                <td></td>
                              <% } else { %>
                                <td><%= obj.description %></td>
                              <% } %>
                              
                              <% if (obj.deleted == true) { %>
                                <td>Đã xóa</td>
                              <% } else { %>
                                <td>Kích hoạt</td>
                              <% } %> 

                              <td>
                                <button type="button" id="btnUpdate<%= obj.id %>" onClick="updateProduct(<%= JSON.stringify(obj) %>)" class="btn btn-primary update">Cập nhật</button> 
                                <button type="button" id="btnRemove<%= obj.id %>" class="btn btn-danger remove">Xóa</button>
                              </td>                            
                            </tr>
                          <% }) %>
                        </tbody>
                    </table>
                </div>
                <!-- /.table-responsive -->
                <div class="text-center">
                    <button type="submit" id="btnAddProduct" onClick="addProduct()" class="btn btn-lg btn-primary add">Thêm sản phẩm</button>
                </div>
            </div>
            <!-- /.panel-body -->
        </div>
        <!-- /.panel -->

        <div id="form" class="modal fade">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                <h4 class="modal-title">Thêm sản phẩm</h4>
              </div>
              <div class="modal-body">
                <div id="message" class="alert alert-danger" role="alert" style="display: none;"></div>
                <form role="form">
                  <div class="form-group">
                    <label for="product-name">Tên sản phẩm</label>
                    <input type="hidden" class="form-control" id="hd-action-type">
                    <input type="hidden" class="form-control" id="hd-product-id">
                    <input type="text" class="form-control" id="product-name" placeholder="Tên sản phẩm">
                  </div>
                  <div class="form-group">
                    <label for="product-category">Loại sản phẩm</label>
                    <select class="form-control" id="product-category"></select>
                  </div>
                  <div class="form-group">
                    <label for="product-price">Giá</label>
                    <input type="text" class="form-control" id="product-price" placeholder="Giá">
                  </div>
                  <div class="form-group">
                    <label for="product-image">Hình ảnh</label>
                    <input type="file" id="product-image">
                  </div>
                  <div class="form-group">
                    <label for="product-description">Mô tả</label>
                    <input type="text" class="form-control" id="product-description" placeholder="Mô tả">
                  </div>
                  <div class="form-group">
                      <label for="product-status">Trạng thái </label>
                      <label class="radio-inline">
                          <input type="radio" name="product-status" id="rdoStatus1" value="true">Xóa
                      </label>
                      <label class="radio-inline">
                          <input type="radio" name="product-status" id="rdoStatus2" value="false">Kích hoạt
                      </label>
                  </div>
                </form>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Thoát</button>
                <button type="submit" onClick="save()" class="btn btn-primary">Lưu thông tin</button>
              </div>
            </div><!-- /.modal-content -->
          </div><!-- /.modal-dialog -->
        </div><!-- /.modal -->

    </div>
    <!-- /.col-lg-12 -->
</div>
<script type="text/javascript" charset="utf-8">
    $(document).ready(function() {
        $('#list-item').DataTable();

        //Load Product Category
        $.get( '/services/model?from=category&where={"deleted": false}', function( data ) {
          var categories = data.category;
          $.each( categories, function( key, value ) {
            //Key: is index
            // console.log("key: "+key);
            //Value: is obj category
            //Ex: 
              // {
              //     "id": 1,
              //     "name": "Sinh tố",
              //     "description": "Sinh tố trái cây",
              //     "deleted": null,
              //     "createdAt": "2015-01-09T08:14:55.000Z",
              //     "updatedAt": "2015-01-09T08:14:55.000Z"
              // }
            // console.log("value: "+value);
            $('#product-category').append('<option value='+value.id+'>'+value.name+'</option>');
          });
        });
    });

    function addProduct()
    {
      resetForm();
      $('#message').hide();
      $('#form').modal();
      $('#hd-action-type').val("1");
    }

    function updateProduct (product) {
      $('#hd-action-type').val("0");      
      $('#hd-product-id').val(product.id);
      $('#product-name').val(product.name);      
      $('#product-category').val(product.category.id);
      $('#product-price').val(product.price);      
      $('#product-description').val((product.description == undefined) ? "" : product.description);

      var status = null;
      if(product.deleted)
        status = "true";
      else
        status = "false";
      $('input:radio[name="product-status"]').filter('[value='+status+']').prop('checked', true);

      $('#message').hide();
      $('#form').modal();
    }

    function save () {
      var type = $('#hd-action-type').val();
      var name = $('#product-name').val();
      var category = $('#product-category').val();
      var description = $('#product-description').val();
      var price = $('#product-price').val();
      var status = $('input[name=product-status]:checked').val();

      
      var obj = null;
      //If type == 0 -> action is update
      //Else action is create
      var data = null;
      if(type == 0)
      {
        var productId = $('#hd-product-id').val();
        obj = [
                {
                  "column": "name",
                  "value": name
                },
                {
                  "column": "category",
                  "value": category
                },
                {
                  "column": "description",
                  "value": description
                },
                {
                  "column": "price",
                  "value": price
                },
                {
                  "column": "deleted",
                  "value": status
                }
              ];        
        data = {
                      "from": "product",
                      "action": "update",                      
                      "where": JSON.stringify({ "id": productId}),
                      "updatedata": JSON.stringify(obj)
                  };
      }
      else
      {
        obj = {
                "name": name, 
                "category": category, 
                "description": description,
                "price": price,
                "deleted": status
              };
        data = {
                      "from": "product",
                      "action": "create",
                      "createdata": JSON.stringify(obj)
                  };
      }
      
      $.post("/services/model", data)
        .done(function(data) 
        {
          if(data.status == 1)
          {
            product = data.product;
            //Get datatable
            var listItem = $('#list-item').DataTable();

            if(type == 0) //If action is update => remove old row
            {
              //Because we can update multiple rows => product will be an array not an object like insert
              product = product[0];

              //Get selected row
              var row = $("#btnUpdate"+product.id).closest('tr');
              row = row[0];
              //Get selected row id
              // var rowId = table.row( row ).index();
              listItem.row(row).remove();
            }         
            listItem.row.add( [
                                product.id,
                                product.name,
                                $("#product-category option:selected").text(), //The response does not include category name => get text from the selected dropdown list
                                product.price,
                                'null',
                                (product.description == undefined) ? "" : product.description,
                                (product.deleted == false) ? "Kích hoạt" : "Đã xóa",
                                "<button type='button' id='btnUpdate"+ product.id +"' onClick='updateProduct("+JSON.stringify(product)+")' class='btn btn-primary update'>Cập nhật</button><button type='button' class='btn btn-danger remove'>Xóa</button>"
                              ] ).draw();
            //.draw(false) to prevent datatable reload to page 1
            //Hiện tại vẫn còn 1 lỗi nhỏ: khi qua trang mới thì datatable ko tự chuyển trang được (sẽ fix sau)   
            
            $('#form').modal('hide');
            resetForm();
          }
          else
          {
            $('#message').text(data.message);
            $('#message').show();
          }
        })
        .fail(function(error)
        {
          $('#message').text('Không thể cập nhật sản phẩm');
          $('#message').show();
        });
    }

    function resetForm()
    {
      $('#product-name').val("");
      $('#product-description').val("");
      $('#product-price').val("");
      $('input[name=product-status]').attr("checked", false);
    }
</script>