<% _.each(data, function (obj) { %>
  <tr>
    <td><%= obj.id %></td>
    <td><%= obj.name %></td>

      <% if (obj.category == undefined) {%>
        <td></td>
      <%} else {%>
        <td><%= obj.category.name %></td>
      <%} %>
    <td>
      <% if (obj.description != undefined) %>
        <%= obj.description %>
    </td>

    <td><%= obj.unit %></td>

    <% if (obj.deleted == true) { %>
      <td>Đã xóa</td>
    <% } else { %>
      <td>Kích hoạt</td>
    <% } %> 

    <td>
      <button type="button" id="btnUpdate<%= obj.id %>" onClick="update(<%= JSON.stringify(obj) %>)" class="btn btn-primary update">Cập nhật</button> 
      <% if (obj.deleted == false) { %>
        <button type="button" id="btnRemove<%= obj.id %>" onClick="removeObject(<%= JSON.stringify(obj) %>)" class="btn btn-danger remove">Xóa</button>
      <% }%>
    </td>                            
  </tr>
<% }) %>